server:
  port: ${SERVER_PORT}

database:
  connect_string: ${DATABASE_CONNECT_STRING}
  database_name: ${DATABAE_NAME}

log:
  level: ${LOG_LEVEL}
  path: "./log/"
  file: "prodlog.log"
  timeFormat: "2006-01-02T15:04:05"
  
auth:
  secret_key: ${AUTH_JWT_SECRET_KEY}
  access_token_expire_minute: ${AUTH_ACCESS_TOKEN_EXPIRE_MINUTE}

env: ${ENV}